In [1]:
print ("hello world")

hello world

In [2]:
3+2

5

In [3]:
a=24
b=48
print(a+b)

72

In [4]:
a*b

1152

In [5]:
a=2

In [6]:
id (a)

140704561702720

In [7]:
a=3

In [8]:
id(a)

140704561702752

In [9]:
type(a)

int

In [10]:
float(2)

2.0

In [11]:
b=a*3

In [12]:
a**b

19683

In [14]:
f=2

In [15]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [16]:
a=a+10

In [17]:
print(a)

13

In [18]:
a =+4

In [19]:
print(a)

4

In [20]:
20/2

10.0

In [21]:
x=3
y=5
x +=y

In [22]:
print(x)

8

In [2]:
#count = 0
a=input("what is your name?")
 # int(input("how old are you?"))
#count(a)
if len(a)==4:
    print ("welcome")
else:
        print("acess denied")

what is your name?rtygh
acess denied

In [5]:
input()

good evening

'good evening'

In [29]:
for x in range (1,10,2):
    print (x)

1
3
5
7
9

In [30]:
list1 =list(range(1,10))

In [31]:
print (list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
c=60
hour=60*60

a=int(input("enter minute "))
b=a*c
print(b)

enter minute 56
3360

In [34]:
a="happy"

In [35]:
a[3]

'p'

In [36]:
a[-3]

'p'

In [37]:
len(a)

5

In [7]:
a="benefactor"

In [8]:
a[2:6]

'nefa'

In [9]:
a[::-1]

'rotcafeneb'

In [10]:
a[:]

'benefactor'

In [11]:
a[0:5]

'benef'

In [12]:
a[-1:0]

''

In [13]:
b="be "

In [14]:

c=b + a
print(c)

be benefactor

In [15]:
a

'benefactor'

In [16]:
b

'be '

In [17]:
a *4

'benefactorbenefactorbenefactorbenefactor'

In [18]:
s='hello world'

In [50]:
s.upper()

'HELLO WORLD'

In [51]:
s.lower()

'hello world'

In [52]:
s.capitalize()

'Hello world'

In [53]:
s.count('o')

2

In [54]:
s.islower()

True

In [55]:
s.find('o')

4

In [56]:
s.replace('o','e')

'helle werld'

In [57]:
s.startswith('w')

False

In [59]:
s.index('w')

6

In [60]:
s.split(' ')

['hello', 'world']

In [61]:
s.split('o')

['hell', ' w', 'rld']

In [62]:
len(s)

11

In [63]:
a='happppppy'
count=0
for letter in a:
    if (letter =='p'):
        count +=1
print (count,"P"'s '"found")

6 Ps found

In [64]:
a

'happppppy'

In [65]:
'p' in a

True

In [66]:
'app' in a

True

In [67]:
'app'not in a

False

In [68]:
a=input("what is your name?")
b=a[::-1]
print(b)
len(b)
a[3:-3]

what is your name?paul
luap

''

In [69]:
a[::-1]

'luap'

In [70]:
len(a)

4

In [71]:
a[3:-3]

''

In [72]:
in_value =0
attempts =0
while in_value <1 or in_value > 10:
    in_value = int(input("please enter an integer in the range 0-10; "))
    attempts += 1
    tries = "try" if attempts ==1 else "tries"
    print("it took you", attempts, tries,"to enter a valid number")

please enter an integer in the range 0-10; 6
it took you 1 try to enter a valid number

In [3]:
num =eval(input("please enter an integer in the range 0.....9999 : " ))
if num < 0:
    num = 0
if num > 9999:
    num=9999

print (end="[")

digit = num//1000
print(digit, end="")
num %= 1000

digit = num//100 
print(digit, end="")
num %=100

digit=num//10
print(digit, end="")
num %=10

print(num, end="")
print("]")

please enter an integer in the range 0.....9999 :456
[0456]

computing time

In [74]:
# get the number of seconds
seconds = eval (input ("please enter the number of second:"))
#first computing the number of hours in the given njumber of seconds
#note: integer division with possible truncation
hours=seconds // 3600 
#compute the remaining seconds after the hours are accounted for
seconds = seconds %3600
# compute the number of minutes in the remaining number of seconds
minutes = seconds //60
# compute the remaining seconds after the minutes are accounted for
seconds = seconds % 60
#reports the results
print(hours, "hr", minutes, "min", seconds, "sec")

please enter the number of second:574211868
159503 hr 17 min 48 sec

In [75]:
45%6

3

In [76]:
45/6

7.5

In [77]:
45//6

7

In [90]:
a=eval (input())
b=int(input())
print (a*b)

4
5
20

In [94]:
value=eval (input("please enter an integer value in the range 0...10:"))
if value >= 0:
    if value <=10:
        print("in range")
print("done")

please enter an integer value in the range 0...10:45
done

In [1]:
' '

' '

In [2]:
print("hello word")

hello word

In [ ]:
a=("full time")
b=("part time")
c=input("what is your prefered course of study ")
if c==a:
    print(a+ "is a good decision")
else:
    d=int(input("how many credit chosen"))
    if d<=6:
        print ("welcome")
    else:
            d>6
    print("maximum of 6 required")

In [ ]:
entry = 0
sum = 0
print ("enter number to sum, negative number ends list:")
while entry >=0:
    entry = eval (input())
    if entry >= 0:
        sum += entry
print("sum =",sum)

In [1]:
max = 18
print(end="    ")
for column in range (1, max + 1):
    print(end=" %2i " % column)
print()
print(end="  +")
for column in range (1, max + 1):
    print(end="----")
print()

for row in range(1, max + 1):
    print(end="%2i | " % row)
    for column in range(1, max +1):
        product = row*column;
        print(end="%3i " % product)
    print()

      1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  +------------------------------------------------------------------------
 1 |   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
 2 |   2   4   6   8  10  12  14  16  18  20  22  24  26  28  30  32  34  36
 3 |   3   6   9  12  15  18  21  24  27  30  33  36  39  42  45  48  51  54
 4 |   4   8  12  16  20  24  28  32  36  40  44  48  52  56  60  64  68  72
 5 |   5  10  15  20  25  30  35  40  45  50  55  60  65  70  75  80  85  90
 6 |   6  12  18  24  30  36  42  48  54  60  66  72  78  84  90  96 102 108
 7 |   7  14  21  28  35  42  49  56  63  70  77  84  91  98 105 112 119 126
 8 |   8  16  24  32  40  48  56  64  72  80  88  96 104 112 120 128 136 144
 9 |   9  18  27  36  45  54  63  72  81  90  99 108 117 126 135 144 153 162
10 |  10  20  30  40  50  60  70  80  90 100 110 120 130 140 150 160 170 180
11 |  11  22  33  44  55  66  77  88  99 110 121 132 143 154 165 176 187 198
12 |  12  24  36  48  60  72  84  96 108 120 132 144 156 168 180 192 204 216
13 |  13  26  39  52  65  78  91 104 117 130 143 156 169 182 195 208 221 234
14 |  14  28  42  56  70  84  98 112 126 140 154 168 182 196 210 224 238 252
15 |  15  30  45  60  75  90 105 120 135 150 165 180 195 210 225 240 255 270
16 |  16  32  48  64  80  96 112 128 144 160 176 192 208 224 240 256 272 288
17 |  17  34  51  68  85 102 119 136 153 170 187 204 221 238 255 272 289 306
18 |  18  36  54  72  90 108 126 144 162 180 198 216 234 252 270 288 306 324

In [6]:
print("      1   2   3   4   5   6   7   8   9   10")
print("   +----------------------------------------")
for row in range(1, 11): # 1 <= row <= 10, table has 10 rows
    if row < 10: # Need to add space?
        print(" ", end="")
    print(row, "| ", end="") # Print heading for this row.
    for column in range(1, 11): # Table has 10 columns.
        product = row*column; # Compute product
        if product < 100: # Need to add space?
            print(end=" ")
        if product < 10: # Need to add another space?
            print(end=" ")
        print(product, end=" ") # Display product
    print() # Move cursor to next ro

      1   2   3   4   5   6   7   8   9   10
   +----------------------------------------
 1 |   1   2   3   4   5   6   7   8   9  10
 2 |   2   4   6   8  10  12  14  16  18  20
 3 |   3   6   9  12  15  18  21  24  27  30
 4 |   4   8  12  16  20  24  28  32  36  40
 5 |   5  10  15  20  25  30  35  40  45  50
 6 |   6  12  18  24  30  36  42  48  54  60
 7 |   7  14  21  28  35  42  49  56  63  70
 8 |   8  16  24  32  40  48  56  64  72  80
 9 |   9  18  27  36  45  54  63  72  81  90
10 |  10  20  30  40  50  60  70  80  90 100

In [8]:
for first in 'ABC':
    for second in  'ABC':
        if second != first:
            for third in 'ABC':
                if third != first and third != second:
                    print (first + second + third)

ABC
ACB
BAC
BCA
CAB
CBA

In [9]:
entry = 0
sum = 0
print ("enter numbers to sum. negative number ends list:")
while True:
    entry = eval (input())
    if entry < 0:
        break 
    sum += entry
print("sum=", sum)

enter numbers to sum. negative number ends list:
5
4
3
2
5
-5
sum= 19

In [2]:
def prompt():
    print("please enter an interger value: ", end="")
print("this program adds together two integers.")
prompt()
value1 =int(input())
prompt ()
value2 = int(input())
sum=value1 + value2;
print (value1, "+", value2, "=", sum)

this program adds together two integers.
please enter an interger value: 6
please enter an interger value: 8
6 + 8 = 14

In [3]:
for i in range(1, 11):
    print (i)

1
2
3
4
5
6
7
8
9
10

In [4]:
def count_to_10():
    for i in range(1, 11):
        print (i)
print ("going to count to 10 . . .")
count_to_10()
print("going to count to 10 again")
count_to_10()

going to count to 10 . . .
1
2
3
4
5
6
7
8
9
10
going to count to 10 again
1
2
3
4
5
6
7
8
9
10

In [1]:
def prompt():
    value = int (input("please enter an integer value"))
    return value
print("this program adds together two integers.")
value1 = prompt()
value2 = prompt()
Sum = value1 + value2;
print(value1, "+", value2, "=", Sum)

this program adds together two integers.
please enter an integer value7
please enter an integer value8
7 + 8 = 15

In [6]:
def prompt(n):
    value = int (input("please enter integer #", n, ": ", sep=""))
    return value
print("this program adds together two integers,")
value1 = prompt(1)
value2 = prompt(2)
sum = value1 + value2
print(value1, "+", value2, "=", sum)

this program adds together two integers,

TypeError: raw_input() takes from 1 to 2 positional arguments but 4 were given